
.navbar-header {
    display: flex;
    justify-content: center;
    padding-right: 50px;
}

.tc-color {
    color: rgb(20, 7, 7);
}

h1 {
    font-size: 30px;
}

.col-sm-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#form_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
}

label, input {
    display: block;
}

label {
    text-align: center;
}

.input-right {
    width: 100%;
}

textarea {
    width: 100%;
}